<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span translate routerLink="/home">BUTTONS.HOME</span>

        <span class="spacer"></span>

        <ng-container
                *ngIf="auth.user | async; then home; else login">
        </ng-container>

        <ng-template #home>
            <button mat-button [matMenuTriggerFor]="menu" translate>BUTTONS.LIST</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/patients/accepted" translate>BUTTONS.ACCEPTED</button>
                <button mat-menu-item routerLink="/patients/unaccepted" translate>BUTTONS.UNACCEPTED</button>
            </mat-menu>

            <button mat-button (click)="logout()" translate>BUTTONS.LOGOUT</button>
        </ng-template>

        <ng-template #login>
            <button mat-button routerLink="/login" translate>BUTTONS.LOGIN</button>
        </ng-template>

    </mat-toolbar-row>
</mat-toolbar>

<div class="content-container">
    <router-outlet></router-outlet>
</div>
