/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "custom-theme";

app-root {

  .content {
    max-width: 95vw;

    table {
      min-width: 960px;

      tr td {
        padding-right: 10px;
      }
    }
  }
}
